/*
Credit: http://tobiasahlin.com/spinkit/
*/

.spinner{ 
    display: none;
    text-align: center;
}
.spinner.loading { display: block; margin: 0px auto;}

.spinner > div {
  width: 14px;
  height: 14px;
  background-color: #e3e3e3;

  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}
